{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title%} Register {% endblock title %}

{% block content %}

<div class="content-section">
    <form action="" method="POST">
        {% csrf_token %}

        <fildset class="form-group">
            <legend class="border-bottom mb-2">
                Log-in
            </legend>
            {{ form | crispy}}
        </fildset>
        <div class="form-group mb-2">
            <button class="btn btn-outline-primary" type="submit">Log In</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <a href="{% url 'register' %}" class="ms-2">Sign In</a>
    </div>
</div>

{% endblock content %}